---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>UltraGeoSite</title>
	</head>
	<body>
		<a href="/blog/">Blog</a>
		<a href="/contact/">Contact</a>
		<h1>UltraGeoSite</h1>

		<p>AI & Data Science enthusiast proficient in creating neural networks, mathematical models, and data analysis. Skilled in ML/DL algorithms, math</p>

		<ul>
			<li><a href="/posts/about/">About</a></li>
		</ul>
	</body>
</html>
